@import url(http://weloveiconfonts.com/api/?family=fontelico);

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

.oscillo_logo {
  font-family: Josefin Sans,
  sans-serif
}

.title {
  font-weight: 400;
  font-size: 96px
}

.callout {
  padding: 0 0 0 3px
}

.callout.alert {
  background-color: #ff7878;
  color: #fff;
  margin-top: -17px
}

.header_icon {
  font-size: 23px;
}

.button.hollow_ext,
.button.hollow_ext:focus,
.button.hollow_ext:hover {
  background-color: white;
}

.button_menu {
  background-color: hsla(0, 0%, 100%, 0.55);
  position: fixed;
  bottom: 50px;
  padding:20px 0 0;
  margin:0 10px 0;
}

/*wheel nav*/
[class|=wheelnav-divWheel] {
  fill: #1572b6;
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}

.floor_icon {
  display: inline-block;
  text-align: center;
  line-height: 1;
  width: 150px;
  height: 150px;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color .25s ease-out, color .25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 25px !important;
  margin: 5px !important;
  font-size: 6rem;
  background-color: #2199e8;
  color: #fff;
}

$animGutter: 3px;
@-webkit-keyframes badgeShake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    -webkit-transform: translate3d(- $animGutter, 0, 0);
    transform: translate3d(- $animGutter, 0, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d($animGutter, 0, 0);
    transform: translate3d($animGutter, 0, 0);
  }
}

@keyframes badgeShake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    -webkit-transform: translate3d(- $animGutter, 0, 0);
    transform: translate3d(- $animGutter, 0, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d($animGutter, 0, 0);
    transform: translate3d($animGutter, 0, 0);
  }
}
.floor .badge.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.floor .badge.badgeShake {
  -webkit-animation-name: badgeShake;
  animation-name: badgeShake;
}
