.oscillo_logo {
    font-family: Josefin Sans, sans-serif;
}

.title {
    font-weight: 400;
    font-size: 96px;
}

.callout {
    padding: 0 0 0 3px;
}

.callout.alert {
    background-color: #ff7878;
    color: #fff;
    margin-top: -17px;
}

.header_icon {
    font-size: 22px;
}